.nochild{
    color : light-blue;
    cursor : pointer;
    margin : 7px 20px;
}
#section{
    color : #888;
}
#sidebar{
    background-color: #fff;
}
.hovered{
    color : #09f ;
}
.header{
    color:#888;
}
